@import url('./base.css');

body {
    background-color: var(--slate-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 20px;
    padding: var(--spacing-16) var(--spacing-16) var(--spacing-40);
}

.card img {
    border-radius: 10px;
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    margin-top: var(--spacing-24);
    text-align: center;
}

.title {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--slate-900);
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}